<style type="text/css">
  ul#services_list {
    list-style:none;
  }
</style>
<ul id="services_list">
    <li><%= link_to "/auth/facebook" do %><%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>Facebook<% end %></li>
    <li><%= link_to "/auth/google" do %><%= image_tag "google_64.png", :size => "64x64", :alt => "Google" %>Google<% end %></li>
    <li><%= link_to "/auth/open_id" do %><%= image_tag "openid_64.png", :size => "64x64", :alt => "OpenID" %>Other OpenID<% end %></li>
</ul>
