<h1>Show Ticket: #<%= @ticket.id %></h1>

<%= link_to "<< Back to Support", tickets_path %>

<h2><%= @ticket.name %></h2>
<div id="ticket-content" class="box">
  <%= raw RDiscount.new(@ticket.content).to_html %>
</div>

<% @ticket_replies.each do |ticket_reply| %>
  <div class="replier-info">
    <%= image_tag(Gravatar.new(ticket_reply.user.email).image_url) %>
    By <strong><%= ticket_reply.user.username %></strong><br />
    <span class="quiet">Posted on <%= ticket_reply.created_at %></span><br />
  </div>
  <div class="reply-content box">
    <%= raw RDiscount.new(ticket_reply.content).to_html %>
  </div>
  <% if !ticket_reply.ticket_status_change.nil? %>
    <div class="status-change">
      <strong><%= ticket_reply.user.username %></strong> 
      has changed the status of the ticket to 
      <strong><%= ticket_reply.ticket_status_change.status_change_label %></strong>
    </div>
  <% end %>
<% end %>

<%= error_messages_for(@ticket_reply) %>
<%= form_for(@ticket_reply, :url => {:controller => 'ticket_replies', :action => 'create', :id => @ticket.id}) do |f| %>
  <%= f.label :content %><br />
  <%= f.text_area :content %><br />
  <%= f.submit %>
<% end %>
<%= stylesheet_link_tag '/markitup/skins/markitup/style' %>
<%= stylesheet_link_tag '/markitup/sets/markdown/style' %>

<%= javascript_include_tag '/markitup/jquery.markitup.js' %>
<%= javascript_include_tag '/markitup/sets/markdown/set.js' %>

<style type="text/css">
  div.box p {
    margin:0;
    padding:0;
  }

  div.replier-info img{
    width:32px;
    float:left;
    margin-right: 10px;
  }

  div.status-change {
    padding:10px;
    margin-bottom:10px;
    background-color:#ddd;
  }

  div.markItUp {
    width:550px; 
  }

  div.markItUp textarea {
    width:490px;
  }
</style>
<script type="text/javascript">
  $(document).ready(function() {
    $('#ticket_reply_content').markItUp(mySettings);
  });
</script>
