<h1>View Ticket Information - #<%= @ticket.id %></h1>
<%= link_to "<< View Tickets", admin_tickets_path %>

<h2><%= @ticket.name %></h2>

<div class="user-info">
  <%= image_tag(Gravatar.new(@ticket.user.email).image_url) %>
  By <strong><%= @ticket.user.username %></strong><br />
  <span class="quiet">Posted on <%= @ticket.created_at %></span><br />
</div>
<div class="ticket-content box">
  <%= @ticket.content %>
</div>

<hr />
<% @ticket_replies.each do |ticket_reply| %>
  <div class="user-info">
    <%= image_tag(Gravatar.new(ticket_reply.user.email).image_url) %>
    By <strong><%= ticket_reply.user.username %></strong><br />
    <span class="quiet">Posted on <%= ticket_reply.created_at %></span><br />
  </div>
  <div class="box">
    <%= ticket_reply.content %>
  </div>
  <% unless ticket_reply.ticket_status_change.nil? %>
    <div class="status-change box">
      <strong><%= ticket_reply.user.username %></strong> 
      has changed the status of the ticket to 
      <strong><%= ticket_reply.ticket_status_change.status_change_label %></strong>
    </div>
  <% end %>
<% end %>

<h2>Reply</h2>
<%= error_messages_for(@ticket_reply) %>
<%= form_for(@ticket_reply, :url => {:controller => 'ticket_replies', :action => 'create', :id => @ticket.id}) do |f| %>
  <%= f.label :content %><br />
  <%= f.text_area :content %><br />

  <%= check_box_tag :status_changed %>
  <%= label_tag :status_changed, "Change Status?" %><br />

  <div id="status_change_select" style="display:none;">
    <%= label_tag :ticket_status, "New ticket status" %>
    <%= collection_select :ticket, :status, Ticket::TicketStatus.all, :id, :label %>
  </div>
  <%= f.submit %>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
      $("#status_changed").change(function() {
        if($("#status_changed").attr("checked")) {
          $("#status_change_select").css("display", "block");
        } else {
          $("#status_change_select").css("display", "none");
        }
     });
  });
</script>

<style type="text/css">
  div.user-info img {
    width:32px;
    float:left;
    margin-right:10px;
  }

  div.status-change {
    background-color:#ddd;
  }
</style>
