<%= render(:partial => 'submenu') %>
<h1>Create a Ingame Account</h1>
<% if @game_account.errors.any? %>
  <%= error_messages_for(@game_account) %>
<% end %>
<%= form_for(@game_account, :url => {:action => 'create'}) do |f| %>
    <%= f.label :login %><br />
    <%= f.text_field :login %><br />
    <%= f.label :plain_password, "Password" %><br />
    <%= f.password_field :plain_password %><br />
    <%= label_tag :show_password %>
    <%= check_box_tag :show_password, "", false, {:onchange => 'showPassword();'} %><br />
  <%= f.submit "Register Ingame Account" %>
<% end %>
<script type="text/javascript">
  function showPassword() {
    var checkBox = document.getElementById("show_password");
    var field = document.getElementById("game_account_plain_password");

    if(checkBox.checked) {
      field.type = "text";
    } else {
      field.type = "password";
    }
  }
</script>
