<!DOCTYPE html>
<html>
  <head>
    <% if @title.blank? %>
      <title>L2adena</title>
    <% else %>
      <title><%= @title %></title>
    <% end %>
    <%= stylesheet_link_tag 'screen' %>
    <!--[if lt IE 8]>
  <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
    <%= include_javascripts :default_javascripts %>
    <%= csrf_meta_tag %>
    <style type="text/css">
      div#admin_nav ul {
        list-style:none;
      }

      div#admin_nav ul li {
        padding:5px;
        margin:5px;
        background-color:#F1F5FC;
      }

      div#admin_nav ul li a {
        text-decoration:none;
      }
    </style>
  </head>
  <body>
  <div class="container prepend-top">

    <% flash.each do |key, value| %>
      <div class="<%= key %>"><%= value %></div>
    <% end %>

    <div id="admin_nav" class="span-6">
      <ul>
        <li><%= link_to("Dashboard", {:controller => '/admin/home', :action => 'index'}) %></li>
        <li><%= link_to("Manage Users", {:controller => '/admin/user', :action => 'index'}) %></li>
        <li><%= link_to("Manage News", admin_news_index_path) %></li>
        <li><%= link_to("Manage Pages", admin_pages_path) %></li>
        <li><%= link_to("Support Tickets", admin_tickets_path) %></li>
      </ul>
    </div>

    <div class="span-17 last">
      <%= yield %>
    </div>

    <section id="footer" class="span-24 last">
    <%= link_to("Return to Main Site", root_url) %><br />
    <%= render(:partial => 'shared/footer') %>
    </section>

  </div>
  </body>
</html>
