<!DOCTYPE html> <html>
  <head>
    <% if @title.blank? %>
      <title>L2adena</title>
    <% else %>
      <title><%= @title %></title>
    <% end %>
    <%= stylesheet_link_tag 'screen' %>
    <!--[if lt IE 8]>
  <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <style type="text/css">
      div ul {
        list-style:none;
      }

      div#gravitar {
        height:36px;
        margin-right:10px;
      }

      div#gravitar img {
        vertical-align:middle;
        height:38px;
        position:relative;
        right:5px;
      }

      div#menu ul li {
        padding:5px;
        background-color:#F1F5FC;
        margin:5px;
      }

      div#menu a {
        text-decoration:none;
      }
    </style>
  </head>
  <body>
  <div class="container">
      <div id="menu" class="span-24">
    <% if user_signed_in? %>
      <nav>
      <ul>
        <div id="gravitar" class="box left"><span class="span-1"><%= image_tag(Gravatar.new(current_user.email).image_url) %></span>
          <p class="span-5">Logged in as <%= current_user.username %><br />
          <span class="quiet"><%= current_user.email %></span></p></div>
        <li class="left"><%= link_to "Authentication Settings", services_path %>
        <li class="left"><%= link_to "Game Menu", {:controller => 'game_accounts', :action => 'index'} %>
        <li class="left"><%= link_to "Sign out", signout_services_path %></li>
      </ul>
      </nav>
    <% else %>
      <nav>
      <ul>
        <li class="left"><%= link_to "Sign in", signin_services_path %>
        <li class="left"><%= link_to "Register", {:controller => 'services', :action => 'register'} %>
      </ul>
      </nav>
      <% end %>
      </div>

      <section id="flash" class="span-24">
      <% flash.each do |key, value| %>
        <div class="<%= key %>"><%= value %></div>
      <% end %>
      </section>

    <%= yield %>

    <div class="clear"></div>
    <div id="footer" class="span-24">
    <% if user_signed_in? and current_user.can_access?(:admin_panel) %>
      <%= link_to("Admin Panel", {:controller => '/admin/home', :action => 'index'}) %><br />
    <% end %>

    <%= render(:partial => 'shared/footer') %>
    </div>

    </div>
  </body>
</html>
